<form>
    <div class="row">
        <div class="col p">
            <input placeholder="Enter a field">
        </div>
        <div class="col p">
            <textarea></textarea>
        </div>
        <div class="col p">
            <input type="checkbox">
        </div>
        <div class="col p">
            <input type="radio">
        </div>
        <div class="col p">
            <select>
                <option type="dafult">default</option>
                <option type="option1">option1</option>
                <option type="option2">option2</option>
            </select>
        </div>
    </div>
</form>

<div class="table">
    <table>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
        <td>Employee</td>
        <td>true</td>
    </table>
</div>